name: Generate Documentation Pages

on:
  workflow_run:
      workflows: ["Run Tests"]
      types:
        - completed
      branches:
        - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies via Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.10"
          channels: conda-forge,defaults
          channel-priority: strict
          activate-environment: docs
          
      - name: Install pandoc via conda
        shell: bash -l {0}
        run: |
          conda install -y pandoc
          conda install -y -c conda-forge pypandoc
          pip install -r requirements.txt
          pip install .

      - name: Generate Documentation
        shell: bash -l {0}
        working-directory: docs
        run: |
          make clean
          make html

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy Documentation to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html